@using RARIndia.Model;
@model UserModel
@{
    Layout = null;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@if (Model.SelectedModuleCode.Trim() == "ACCOUNTS" || Model.SelectedModuleCode.Trim() == "INVENTORY" || Model.SelectedModuleCode.Trim() == "PURCHASE")
{
    <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            BL <i class="la la-angle-down"></i>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach (UserBalanceSheetModel item in Model.BalanceSheetList)
            {
                <li>
                    <a class="dropdown-item" href="/user/GetBalanceSheetById?balanceSheetId=@item.BalsheetID&controllerName=@controllerName&method=@actionName">
                        @if (item.BalsheetID == Model.SelectedBalanceId)
                        {
                            @*<i class="ft-check"></i>*@@item.ActBalsheetHeadDesc
                        }
                        else
                        {
                            @*<i class="ft-layers"></i>*@@item.ActBalsheetHeadDesc
                        }
                    </a>
                </li>
            }
        </ul>
    </li>
}