@using RARIndia.Model;
@model UserModel
@{
    Layout = null;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
@if (Model.SelectedModuleCode.Trim() == "ACCOUNTS" || Model.SelectedModuleCode.Trim() == "INVENTORY" || Model.SelectedModuleCode.Trim() == "PURCHASE")
{
    <li class="dropdown dropdown-language nav-item">
        <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ft-layers"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown-flag">
            @foreach (UserBalanceSheetModel item in Model.BalanceSheetList)
            {
                <a class="dropdown-item" href="/user/GetBalanceSheetById?balanceSheetId=@item.BalsheetID&controllerName=@controllerName&method=@actionName">
                    @if (item.BalsheetID == Model.SelectedBalanceId)
                    {
                        <i class="ft-check"></i>@item.ActBalsheetHeadDesc
                    }
                    else
                    {
                        @item.ActBalsheetHeadDesc
                    }
                </a>
            }
        </div>
    </li>
}