@using RARIndia.Model;
@model string
@{
    Layout = null;
}
@if (!string.IsNullOrEmpty(Model))
{
    string notificationStyle = "";
    MessageBoxModel msgObj = string.IsNullOrEmpty(Model) ? null : Newtonsoft.Json.JsonConvert.DeserializeObject<MessageBoxModel>(Model);
    if (!string.IsNullOrEmpty(msgObj.Message))
    {
        switch (msgObj.Type)
        {
            case "success":
                notificationStyle = "bg-success";
                break;
            case "error":
                notificationStyle = "bg-danger";
                break;
            case "info":
                notificationStyle = "bg-info";
                break;
            case "warning":
                notificationStyle = "bg-warning";
                break;
        }
        <div class="alert @notificationStyle mb-2" id="notificationDivId" style="text-align: center">
            <button type="button" class="close" aria-label="Close" id="notificationCloseId">
                <span>×</span>
            </button>
            @msgObj.Message
        </div>
    }
}
