@model int
@{
    Layout = null;
}
<li class="dropdown dropdown-notification nav-item">
    <a class="nav-link nav-link-label" href="/TaskNotification/NotificationList">
        <i class="ficon ft-bell"></i>
        <span class="badge badge-pill badge-danger badge-up badge-glow">@Model</span>
    </a>
</li>