################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/RARIndia/.vs/RARIndia
/RARIndia/bin
/RARIndia/obj
