################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/RARIndia/.vs/RARIndia
/RARIndia/bin
/RARIndia/obj
/RARIndia.BusinessLogicLayer/bin/Debug
/RARIndia.BusinessLogicLayer/obj/Debug
/RARIndia.DataAccessLayer/bin/Debug
/RARIndia.DataAccessLayer/obj/Debug
/RARIndia.Model/bin/Debug
/RARIndia.Model/obj/Debug
