################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/RARIndia/.vs/RARIndia
/RARIndia/bin
/RARIndia/obj
/RARIndia.BusinessLogicLayer/bin
/RARIndia.BusinessLogicLayer/obj
/RARIndia.DataAccessLayer/bin
/RARIndia.DataAccessLayer/obj
/RARIndia.Model/bin
/RARIndia.Model/obj

