USE [Ver1]
GO
/****** Object:  StoredProcedure [dbo].[RARIndia_GetAdminSnPostsList]    Script Date: 1/27/2023 8:11:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER   PROCEDURE [dbo].[RARIndia_GetAdminSnPostsList]
(   
	@CentreCode		VARCHAR(60),
	@DepartmentId   INT,
    @WhereClause	VARCHAR(MAX),
    @Rows			INT          = 100,
    @PageNo			INT          = 1,
    @Order_BY		VARCHAR(100) = '',
	@RowsCount		INT OUT
)
	--exec RARIndia_GetAdminSnPostsList @CentreCode='HO',@DepartmentId=7,@WhereClause=null,@Rows=25,@PageNo=1,@Order_BY='',@RowsCount= null
AS
   
     BEGIN
         SET NOCOUNT ON;
		 
         BEGIN TRY
             DECLARE @SQL NVARCHAR(MAX);
             DECLARE @TBL_AdminSnPostsDetail TABLE
			 (
				 AdminSnPostsId					smallint,
				 NomenAdminRoleCode				NVARCHAR(60),
				 SactionedPostDescription		NVARCHAR(400),
				 NoOfPosts						smallint,
				 IsActive						bit,
				 RowId							INT,
				 CountNo						INT
			 )
			
             SET @SQL = '
						;with Cte_filterAdminSnPosts AS 
						(
							SELECT ID AdminSnPostsId,NomenAdminRoleCode,SactionedPostDescription,IsActive,NoOfPosts,'
							+dbo.Fn_GetPagingRowId(@Order_By,'NomenAdminRoleCode')+',Count(*)Over() CountNo 
							FROM AdminSnPosts where CentreCode='''+@CentreCode+''' and DepartmentID='+CAST(@DepartmentId AS VARCHAR(10))+' '+ [dbo].[Fn_GetFilterWhereClause](@WhereClause)+'
						)
						SELECT  AdminSnPostsId,NomenAdminRoleCode,SactionedPostDescription,IsActive,NoOfPosts,RowId,CountNo
						FROM Cte_filterAdminSnPosts
						'+dbo.Fn_GetPaginationWhereClause(@PageNo,@rows)
						print @SQL
			 INSERT INTO @TBL_AdminSnPostsDetail (AdminSnPostsId,NomenAdminRoleCode,SactionedPostDescription,IsActive,NoOfPosts,RowId,CountNo )
			 EXEC(@SQL)

			 SET @RowsCount =ISNULL((SELECT TOP 1 CountNo  FROM @TBL_AdminSnPostsDetail),0)
			 SELECT AdminSnPostsId,NomenAdminRoleCode,SactionedPostDescription,IsActive,NoOfPosts
			 FROM @TBL_AdminSnPostsDetail
			 	 
         END TRY
         BEGIN CATCH
          DECLARE @Status BIT ;
		  SET @Status = 0;
		  DECLARE @Error_procedure VARCHAR(1000)= ERROR_PROCEDURE(), @ErrorMessage NVARCHAR(MAX)= ERROR_MESSAGE(), @ErrorLine VARCHAR(100)= ERROR_LINE(), @ErrorCall NVARCHAR(MAX)= 'EXEC RARIndia_GetAdminSnPostsList @WhereClause = '+cast (@WhereClause AS VARCHAR(50))+',@Rows='+CAST(@Rows AS VARCHAR(50))+',@PageNo='+CAST(@PageNo AS VARCHAR(50))+',@Order_BY='+@Order_BY+',@RowsCount='+CAST(@RowsCount AS VARCHAR(50))+',@Status='+CAST(@Status AS VARCHAR(10));
              			 
          SELECT 0 AS ID,CAST(0 AS BIT) AS Status;                    
		  

          --EXEC Znode_InsertProcedureErrorLog
          --  @ProcedureName = 'RARIndia_GetAdminSnPostsList',
          --  @ErrorInProcedure = @Error_procedure,
          --  @ErrorMessage = @ErrorMessage,
          --  @ErrorLine = @ErrorLine,
          --  @ErrorCall = @ErrorCall;
         END CATCH;
     END;
