@using RARIndia.ViewModel
@model PageListViewModel
@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing @Model.Page to @Model.RecordPerPage of @Model.TotalResults entries</div>
    </div>
    <div class="col-sm-12 col-md-7">
        @if (Model.TotalResults > 0)
        {
            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous" id="DataTables_Table_1_previous">
                        <a href="#" aria-controls="DataTables_Table_1" class="page-link"><<</a>
                    </li>
                    <li class="paginate_button page-item previous" id="DataTables_Table_1_previous">
                        <a href="#" aria-controls="DataTables_Table_1" class="page-link"><</a>
                    </li>
                    <li class="paginate_button page-item active">
                        <a href="#" aria-controls="DataTables_Table_1" class="page-link">1</a>
                    </li>
                    <li class="paginate_button page-item next" id="DataTables_Table_1_next">
                        <a href="#" aria-controls="DataTables_Table_1" class="page-link">></a>
                    </li>
                    <li class="paginate_button page-item next" id="DataTables_Table_1_next">
                        <a href="#" aria-controls="DataTables_Table_1" class="page-link">>></a>
                    </li>
                </ul>
            </div>
        }
    </div>
</div>