@{
    Layout = null;
 }
<div class="dataTables_length" id="row_callback_length">
    <label>
        Show
        <select name="row_callback_length" aria-controls="row_callback" class="form-select form-select-sm">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
        </select> entries
    </label>
</div>
