@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-12 col-md-5">
        <div class="dataTables_info" id="row_callback_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
    </div>
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="row_callback_paginate">
            <ul class="pagination">
                <li class="paginate_button page-item previous disabled" id="row_callback_previous"><a href="#" aria-controls="row_callback" data-dt-idx="0" tabindex="0" class="page-link"><<</a></li>
                <li class="paginate_button page-item previous disabled" id="row_callback_previous"><a href="#" aria-controls="row_callback" data-dt-idx="0" tabindex="0" class="page-link"><</a></li>
                <li class="paginate_button page-item active"><a href="#" aria-controls="row_callback" data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                <li class="paginate_button page-item "><a href="#" aria-controls="row_callback" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                <li class="paginate_button page-item next" id="row_callback_next"><a href="#" aria-controls="row_callback" data-dt-idx="7" tabindex="0" class="page-link">></a></li>
                <li class="paginate_button page-item next" id="row_callback_next"><a href="#" aria-controls="row_callback" data-dt-idx="7" tabindex="0" class="page-link">>></a></li>
            </ul>
        </div>
    </div>
</div>